mkdocs
mkdocs-material
mkdocs-awesome-pages-plugin
mkdoxy
mkdocs-static-i18n
mkdocs-glightbox
mkdocs-git-revision-date-localized-plugin
# git+https://github.com/dirks/mkpdfs-mkdocs-plugin.git@e73e8a3e430325b9bd4df0e98d94237439cb99a9